{% extends "base.html" %}
{% block content %}


<h1>All Books</h1>
<section class="bookbox">
    {% for book in books %}
    <ul>
        <li><i class="fa fa-book fa-2x" aria-hidden="true"></i> <a href="/books/{{book.id}}">{{book.title}}</a> </li>
        <li><i class="fa fa-user fa-2x" aria-hidden="true"></i> {{book.author.full_name()}} </li>
        <li><i class="fa fa-info fa-2x" aria-hidden="true"></i> {{book.genre}} </li>
        <li><i class="fa fa-university fa-2x" aria-hidden="true"></i> {{book.publisher}} </li>
        <li>
            <form class = "delete-form" action = "/books/{{book.id}}/delete" method="post">
                <button class="trash-button">
                    <i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i>
                </button>
            </form>
        </li>
    </ul>
    {% endfor %}
</section>

{% endblock %}
