body{
  font-family: "Helvetica", arial, sans-serif; font-size: 16px;
  width:100vw;
  height:100vh;
  background-image: url('images/library.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.book {
  border: 1px solid #ccc;
  width: 300px;
  min-height: 68px;
  padding: 10px;
  display: flex;
  line-height: 18px;
  margin-bottom: 10px;
}

.name {
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-right: 0.3em;
}

.publisher{
  color: #8899a6;
  font-size: 13px;
  margin-left: 20px;
}

.buttons {
  margin-top: 10px;
  margin-left: 2px;
  font-size: 1.4em;
  color: #aab8c2;
}

.buttons i {
  width: 80px;
}

input, select, button {
  font-size: 100%;
  width : 100%;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

.trash-button{
  display: contents;
  font-size: 65%;
}


.delete-form{
  display: inline;
}

.menu{
  display: flex;
  padding: 0;
  background-color:rgba(20, 20, 20, 85%);
  color: white;
  margin-bottom:40px;
}
.menu ul {
   
}

.menu li a:hover{
  color:#d44;
  text-decoration: underline;
}

.menu li a:visited{
  color: white;
}

.menu li{
  padding-right: 10px;
  list-style: none;
  color: white;
  font-family: "Helvetica", arial, sans-serif; font-size: 14px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  background-color:rgba(20, 20, 20, 85%);
}

#home-image {
  width:100vw;
  height:100vh;
  background-image: url('images/library.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #fff;
  padding:20px;
}
.bookbox ul li {
  list-style-type: none;
  border-bottom: 1px dotted #ddd;
  color:#666;
  font-size: 13px;
  text-align: center;
  
}

.bookbox ul li i {
  margin: 5px;
  width: 30px;
  text-align: left;
}

.bookbox ul li a {
  color:#d44;
  font-size: 20px;
  text-decoration: none;
}

.bookbox ul li a:hover {
  color:#f66;
  font-size: 21px;
}

.bookbox {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  width:100%;
  justify-content: space-around;
  padding: 20px;

}

.bookbox ul {
  background-color:#fff;
  margin:0 20px 40px;
  padding: 20px;
  border-radius: 30px;
}

 .centered {
  display:grid;
  grid-template-columns: 1fr;
  width:100%;
  justify-content:center;
  padding: 20px;
  margin:50px 250px;
}